* text=auto !eol
/Bindings.xml -text
/PetEmote[!!-~]Editor.exe -text
/PetEmote[!!-~]verwenden.url -text
/PetEmote.lua -text
/PetEmote.toc -text
/PetEmote.xml -text
/Using[!!-~]PetEmote.url -text
de/PetEmote[!!-~]Editor.resources.dll -text
/default-emotes.lua -text
/default-emotes.xml -text
/localization.lua -text
