* text=auto !eol
/Bindings.xml -text
/PetEmote[!!-~]verwenden.url -text
/PetEmote.lua -text
/PetEmote.toc -text
/PetEmote.xml -text
/Using[!!-~]PetEmote.url -text
/config.lua -text
/custom-emotes.lua -text
/localization.lua -text
